.dou-education-content {
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    gap: 5px;

}

.dou-menu-content {
    box-sizing: border-box;
    grid-column: 1 / 2;
    /* grid-row: 1 / -1; */
    background-color: #2F3032;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.dou-content {
    grid-column: 2 / 3;
    /* grid-row: 1 / -1; */
    background-color: #2F3032;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.dou-login-input.search {
    height: 38px;
    width: 80%;
}