.main_page {
    display: grid;
    grid-template-rows: auto 5fr;
    grid-template-columns: 6fr 3fr;
    background-color: black;
    color: #fff;
    height: auto;
    width: 100vw;
}

.dou-main-content {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}



