html, body {
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 327px 419px #fff, 1156px 358px #fff, 51px 80px #fff, 181px 141px #fff, 968px 666px #fff, 407px 130px #fff, 96px 644px #fff, 46px 229px #fff, 770px 377px #fff, 546px 380px #fff, 1702px 187px #fff, 1268px 499px #fff, 747px 575px #fff, 1589px 328px #fff, 315px 838px #fff, 583px 637px #fff, 1417px 351px #fff, 445px 331px #fff, 640px 474px #fff, 1396px 609px #fff, 297px 348px #fff, 249px 310px #fff, 430px 402px #fff, 1682px 270px #fff, 816px 740px #fff, 1091px 792px #fff, 582px 168px #fff, 184px 197px #fff, 1742px 465px #fff, 1224px 50px #fff, 453px 602px #fff, 1806px 549px #fff, 1049px 24px #fff, 421px 635px #fff, 334px 9px #fff, 1082px 886px #fff, 616px 143px #fff, 799px 771px #fff, 730px 146px #fff, 937px 622px #fff, 1783px 623px #fff, 1069px 173px #fff, 1189px 936px #fff, 1763px 361px #fff, 581px 329px #fff, 1584px 892px #fff, 1583px 352px #fff, 494px 738px #fff, 1583px 151px #fff, 1508px 727px #fff, 1429px 535px #fff, 1812px 38px #fff, 902px 696px #fff, 907px 535px #fff, 1532px 665px #fff, 427px 288px #fff, 836px 210px #fff, 2px 198px #fff, 1540px 375px #fff, 1268px 809px #fff, 478px 855px #fff, 404px 682px #fff, 658px 584px #fff, 1742px 305px #fff, 1065px 73px #fff, 127px 998px #fff, 93px 891px #fff, 217px 492px #fff, 1236px 907px #fff, 338px 650px #fff, 239px 74px #fff, 997px 136px #fff, 1489px 630px #fff, 1901px 868px #fff, 684px 428px #fff, 1646px 490px #fff, 1354px 84px #fff, 192px 548px #fff, 1918px 241px #fff, 1609px 423px #fff, 186px 962px #fff, 1401px 314px #fff, 36px 131px #fff, 1696px 583px #fff, 182px 936px #fff, 1366px 41px #fff, 57px 12px #fff, 328px 622px #fff, 1886px 625px #fff, 1760px 347px #fff, 909px 461px #fff, 899px 271px #fff, 815px 501px #fff, 147px 435px #fff, 1043px 926px #fff, 1357px 426px #fff, 187px 95px #fff, 1072px 346px #fff, 561px 367px #fff, 977px 880px #fff, 519px 13px #fff, 1673px 848px #fff, 546px 469px #fff, 967px 983px #fff, 356px 414px #fff, 1122px 861px #fff, 1712px 791px #fff, 1375px 442px #fff, 734px 412px #fff, 483px 840px #fff, 751px 405px #fff, 1714px 826px #fff, 1329px 824px #fff, 358px 410px #fff, 1661px 544px #fff, 1421px 803px #fff, 1600px 278px #fff, 958px 336px #fff, 508px 95px #fff, 1262px 590px #fff, 601px 476px #fff, 1245px 864px #fff, 554px 183px #fff, 724px 586px #fff, 1350px 499px #fff, 1104px 860px #fff, 1893px 582px #fff, 1824px 644px #fff, 150px 608px #fff, 1296px 228px #fff, 1785px 124px #fff, 1768px 636px #fff, 773px 715px #fff, 1315px 874px #fff, 498px 711px #fff, 659px 590px #fff, 1209px 803px #fff, 1156px 778px #fff, 984px 70px #fff, 683px 69px #fff, 376px 82px #fff, 943px 191px #fff, 466px 70px #fff, 1138px 776px #fff, 741px 870px #fff, 1044px 156px #fff, 1251px 361px #fff, 591px 327px #fff, 418px 673px #fff, 1349px 936px #fff, 1193px 191px #fff, 592px 654px #fff, 1086px 339px #fff, 1873px 738px #fff, 1566px 237px #fff, 1533px 121px #fff, 936px 633px #fff, 88px 867px #fff, 468px 784px #fff, 665px 99px #fff, 428px 565px #fff, 330px 936px #fff, 160px 402px #fff, 1212px 440px #fff, 787px 195px #fff, 1779px 686px #fff, 1699px 241px #fff, 1364px 579px #fff, 1008px 310px #fff, 745px 818px #fff, 1832px 272px #fff, 1594px 600px #fff, 388px 11px #fff, 1057px 58px #fff, 819px 831px #fff, 1644px 753px #fff, 1745px 696px #fff, 454px 968px #fff, 950px 178px #fff, 283px 368px #fff, 1715px 617px #fff, 780px 613px #fff, 600px 486px #fff, 269px 862px #fff, 1093px 921px #fff, 883px 511px #fff, 637px 786px #fff, 1603px 660px #fff, 410px 304px #fff, 1711px 897px #fff, 342px 975px #fff, 571px 780px #fff, 507px 401px #fff, 1836px 886px #fff, 1157px 360px #fff, 1323px 186px #fff, 1209px 526px #fff, 1430px 482px #fff, 17px 939px #fff, 771px 933px #fff, 213px 836px #fff, 342px 78px #fff, 656px 321px #fff, 772px 146px #fff, 447px 299px #fff, 639px 383px #fff, 1726px 645px #fff, 572px 714px #fff, 1645px 493px #fff, 854px 642px #fff, 1563px 777px #fff, 92px 687px #fff, 1581px 25px #fff, 228px 35px #fff, 1006px 291px #fff, 1870px 523px #fff, 221px 288px #fff, 1059px 832px #fff, 223px 919px #fff, 467px 45px #fff, 847px 11px #fff, 611px 587px #fff, 238px 103px #fff, 1841px 733px #fff, 1716px 610px #fff, 323px 314px #fff, 1268px 138px #fff, 307px 430px #fff, 1532px 231px #fff, 1614px 427px #fff, 1575px 550px #fff, 226px 466px #fff, 1122px 266px #fff, 1540px 489px #fff, 1246px 840px #fff, 435px 843px #fff, 1572px 313px #fff, 413px 985px #fff, 370px 210px #fff, 1732px 183px #fff, 1618px 941px #fff, 681px 352px #fff, 963px 97px #fff, 1800px 186px #fff, 1692px 419px #fff, 1820px 106px #fff, 1212px 535px #fff, 911px 628px #fff, 1392px 22px #fff, 433px 715px #fff, 1114px 378px #fff, 397px 140px #fff, 50px 113px #fff, 222px 230px #fff, 1600px 99px #fff, 1455px 746px #fff, 1047px 950px #fff, 193px 418px #fff, 437px 292px #fff, 981px 976px #fff, 1313px 441px #fff, 718px 102px #fff, 1233px 738px #fff, 226px 68px #fff, 1557px 774px #fff, 1254px 866px #fff, 107px 900px #fff, 774px 587px #fff, 116px 554px #fff, 1497px 466px #fff, 1612px 41px #fff, 1581px 361px #fff, 494px 365px #fff, 921px 704px #fff, 1361px 827px #fff, 674px 84px #fff, 1703px 511px #fff, 1517px 566px #fff, 1381px 768px #fff, 236px 983px #fff, 503px 263px #fff, 176px 293px #fff, 19px 804px #fff, 592px 753px #fff, 1817px 157px #fff, 1828px 946px #fff, 1128px 522px #fff, 707px 425px #fff, 1367px 468px #fff, 1904px 418px #fff, 1554px 27px #fff, 383px 740px #fff, 882px 758px #fff, 947px 880px #fff, 817px 795px #fff, 1431px 155px #fff, 1405px 808px #fff, 1175px 510px #fff, 1000px 830px #fff, 1457px 8px #fff;
  z-index: 0;
}

.meteor-1 {
  position: absolute;
  top: -300px;
  left: 40%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 7s linear infinite 0s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-2 {
  position: absolute;
  top: -300px;
  left: 16%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 7s linear infinite 15s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-3 {
  position: absolute;
  top: -300px;
  left: 36%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 7s linear infinite 30s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-4 {
  position: absolute;
  top: -300px;
  left: 35%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 8s linear infinite 45s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-4::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-5 {
  position: absolute;
  top: -300px;
  left: 27%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 7s linear infinite 60s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-5::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-6 {
  position: absolute;
  top: -300px;
  left: 58%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 7s linear infinite 75s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-6::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-7 {
  position: absolute;
  top: -300px;
  left: 79%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 8s linear infinite 90s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-7::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

.meteor-8 {
  position: absolute;
  top: -300px;
  left: 45%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  animation: meteor 9s linear infinite 105s;
  will-change: transform, opacity;
  z-index: 0;
}
.meteor-8::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0.8;
}

@keyframes meteor {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  10% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-600px, 600px);
    opacity: 0;
  }
}

/*SCSS By https://codepen.io/Misty1636 */
