.dou-header {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: transparent;
    color: #f5f5f5;
}


.dou-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.dou-main-button {
    border: none;
    background-color: inherit;
    font-size: 1.3rem;
    transition-duration: 0.3s;
    font-weight: 500;
}

.dou-main-button:hover {
    color: #86d6f3;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* ----------- */

.user-menu, .guest-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar-container {
    position: relative;
    padding: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; 
}

.dropdown {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #86d6f3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 1000;
}
.dropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: black;
    text-align: left;
    cursor: pointer;
    transition-duration: 0.3s;
}

.dropdown button:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dou-strip {
    position: absolute;
    top: 0;
    right: 0;
}

.dou-strip-button {
    width: 20px;
  height: 50px;
  background-color: #2c3e50; /* Color de ejemplo, puedes cambiarlo */
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 5px #ccc;
  cursor: pointer;
  position: relative;
}

.dou-strip-button::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #2c3e50; /* Coincide con el color de la tira */
}

.dou-strip-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 100;
}
