.dou-back-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.dou-back-login svg {
    height: 40px;
    width: 40px;
    fill: #fff;
    transition-duration: 0.3s;
}
.dou-back-login svg:hover {
    scale: 1.1;
}

.dou-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    transition-duration: 0.3s;
}

.dou-login-form {
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 1rem;
    height: 100%;
}

.dou-login-forgot-password-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.dou-login-button-forgot-password {
    background-color: transparent;
    border: none;
    color: #B5E2F2;
    cursor: pointer;
    font-size: 14px;
}

.dou-login-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1rem;
    transition-duration: 0.3s;
}

.dou-login-input:hover {
    border-color: #B5E2F2;
}

.dou-login-input::placeholder {
    color: #B5E2F2;
}

.dou-login-button-submit {
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #B5E2F2;
    color: #000;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition-duration: 0.3s;
}

.dou-login-button-submit:hover {
    border-color: #B5E2F2;
    scale: 1.05;
}

.dou-login-register-text {
    font-size: 1rem;
}

.dou-login-register-text button {
    background-color: transparent;
    border: none;
    color: #B5E2F2;
    cursor: pointer;
}
